<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senha alterada</title>
  <style>
    /* Importando a fonte Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

    /* Aplicando o fundo e a borda no head */
    head {
      background-color: #efefef;
      border-top: 3px solid #5a189a;
    }

    /* Box e imagem com tamanho ajustável */
    .box {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      border: 1px solid #5a189a;
    }

    /* Imagem fixa dentro do box */
    .theme-image {
      width: 100px; /* Ajuste a largura conforme necessário */
      height: 80px; /* Ajuste a altura conforme necessário */
      object-fit: contain;
      margin-bottom: 20px;
      background-size: contain;
      background-image: url('https://github.com/user-attachments/assets/77993fb4-420c-423e-b103-dbf9d7118725'); /* Imagem fixa */
    }

    /* Estilo de textos */
    body, p {
      color: #433344; /* Cor dos textos */
      font-family: 'Poppins', sans-serif; /* Fonte Poppins */
    }

    /* Estilo do primeiro texto abaixo da imagem */
    .arista-text {
      font-family: 'Arista Pro', sans-serif; /* Fonte Arista Pro */
      font-size: 24px;
      font-weight: bold;
      color: #433344;
    }

    /* Estilo do link do botão */
    a {
      display: inline-block;
      padding: 15px 25px;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
      background-color: #5a189a;
      color: #ffffff;
      text-decoration: none;
      border-radius: 10px;
    }
  </style>
</head>
<body style="margin: 0; padding: 0; text-align: center;">
  
  <div class="box">
    <!-- Imagem fixa no box -->
    <div class="theme-image"></div>
    
    <p class="arista-text">Senha alterada</p>
    
    <div style="margin: 10px 0; border-top: 1px solid #eeeeee;"></div>
    
    <div style="font-size: 16px; text-align: center;">
      <p>Olá <b><%= @resource.email %></b>, tudo bem?</p>
      <p>Estamos entrando em contato para notificá-lo de que sua senha foi alterada com sucesso!</p>
      <p>Em caso de problemas, por favor, contate o administrador da conta.</p>
    </div>
  </div>

</body>
</html>