<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de senha</title>
  <style>
    /* Box que envolve o conteúdo */
    .box {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      border: 1px solid #eeeeee;
    }

    /* Imagem padrão para tema claro */
    .theme-image {
      width: 100px; /* Ajuste a largura conforme necessário */
      height: 100px; /* Ajuste a altura conforme necessário */
      object-fit: contain;
      margin-bottom: 20px;
      background-size: contain;
    }

    /* Substituir imagem para tema escuro */
    @media (prefers-color-scheme: dark) {
      .theme-image {
        background-image: url('https://github.com/user-attachments/assets/714e36ad-5fc6-41c5-bf2e-4c2a91fba329');
      }
    }
  </style>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: center;">

  <div class="box">
    <!-- A imagem está dentro do box, adaptando-se ao tema do dispositivo -->
    <div class="theme-image" style="background-image: url('https://github.com/user-attachments/assets/d76ffd45-7ace-43d8-b59c-fc3c936cec5d');"></div>
    
    <p style="font-size: 24px; font-family: Arial; font-weight: bold;">Recuperação de senha</p>
    
    <div style="margin: 10px 0; border-top: 1px solid #eeeeee;"></div>
    
    <div style="font-size: 16px; font-family: Arial, sans-serif; text-align: center;">
      <p>Olá <b><%= @resource.email %></b>!</p>
      <p>Parece que você esqueceu sua senha né?! Fique tranquilo, você poderá escolher uma nova senha clicando no botão abaixo:</p>
      <p><a href="<%= frontend_url('auth/password/edit', reset_password_token: @token) %>" style="display: inline-block; padding: 15px 25px; font-size: 18px; font-family: Arial; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 0;">Mudar minha senha</a></p>
      <p>Se você não solicitou isso, ignore este e-mail. Sua senha não mudará até que você acesse o botão acima e crie uma nova. Em caso de problemas, por favor, contate o administrador da conta.</p>
    </div>
  </div>

</body>
</html>